.about-div-lg {
    display: grid;
    margin: 3rem 0;
    column-gap: 3rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    '. img name name .'
    '. img bio bio .';
}
.about-div-md {
    display: grid;
    margin: 3rem 0;
    column-gap: 3rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    '. img img name name name .'
    '. img img bio bio bio .';
}
.about-div-sm {
    display: grid;
    margin: 3rem 0;
    padding: 0 2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    '. img img .'
    'name name name name'
    'bio bio bio bio';
}

.about-img {
    grid-area: img;
    width: 75%;
    border-radius: 50rem;
    justify-self: center;
    align-self: center;
}

.about-name {
    grid-area: name;
    align-self: start;
}

.about-bio {
    grid-area: bio;
    align-self: start;
    margin-top: 0;
}