.home-div {
    display: grid;
}

.home-header {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    'main'
    'sub';
    text-align: center;
    height: 100vh;
    background: linear-gradient(45deg,#5e9eff,#00d0ff,#7700ff, #0066ff, #00d0ff);
    background-size: 600% 100%;
    animation: gradient 16s linear infinite;
    animation-direction: alternate;
}
@keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
}

.home-header-title {
    grid-area: main;
    color: white;
    font-size: 3rem;
    font-weight: lighter;
    letter-spacing: 5px;
    align-self: end;
    margin: 0 0 0 0;
}

.home-header-subtitle {
    grid-area: sub;
    color: white;
    align-self: start;
    margin: 0 0 0 0;
}

.home-section-title {
  text-align: center;
  margin: 4rem 0 0 0;
  color: gray;
  font-weight: lighter;
}