.skills-div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 2rem;
    margin: 3rem 0;
    padding: 0 2rem;
}

.skills-icon {
    color: gray;
    font-size: 3rem;
    justify-self: center;
}

.skills-icon:hover {
    color: rgb(0, 179, 179);
    transform: scale(1.1);
}

.skills-item {
    color: gray;
    justify-self: center;
}

.skills-item:hover {
    color: rgb(0, 179, 179);
    transform: scale(1.1);
}